.title {
  text-align: center;
}

.title .icon {
  width: 25%;
  height: 25%;
}

.projects {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
}

.project {
  width: 25%;
  height: 100%;
  cursor: pointer;
  margin: 20px;
  padding: 20px;
  border-radius: 25px;
  border: 10px dashed var(--border-color);
  background-color: var(--primary-background-color);
}

.project:hover {
  border-style: solid;
}

.bar {
  display: block;
}

.bar .item {
  padding: 5px;
  border-radius: 10px;
}

@media screen and (max-width: 600px) {
  .bar {
    display: flex;
  }
}