---
layout: default
title: "Home"
---

<div class="uk-width-1-1 uk-height-1-1 uk-light">
    <div class="uk-position-center uk-text-center">
        <img src="/assets/svgs/favicon.outline.svg" alt="" width="256">
        <h1>Christian Cuevas</h1>
        <h2>ClarkThyLord</h2>
        <p>Just another programmer :v</p>
    </div>
</div>

<div style="min-height: 100%;" class="uk-margin uk-light">
    <div class="uk-padding-large">

        <h1 class="uk-margin-left uk-margin-right">Popular Projects</h1>

        <hr />

        <div class="uk-grid-match" uk-grid>

            {% assign repositories = site.github.public_repositories | sort: 'stargazers_count' | reverse %}
            {% for repository in repositories limit: 5 %}
            {% if repository.stargazers_count >= 3 %}

            <div class="uk-width-expand@m">
                <div class="uk-padding-small uk-flex uk-flex-column uk-background-secondary uk-border-rounded">

                    <div class="uk-grid-small uk-flex-middle uk-text-truncate" uk-grid>
                        <div class="uk-width-expand">
                            <h3 class="uk-margin-remove-bottom"> {{ repository.name }} </h3>
                            <p class="uk-text-meta uk-margin-remove-top">
                                {{ repository.created_at | date: "%a, %b %d, %Y" }}</p>
                        </div>
                    </div>

                    <div class="uk-margin-top uk-margin-bottom uk-flex-1 uk-text-break uk-text-break">
                        <p>{{ repository.description }}</p>
                        {% for topic in repository.topics %}
                        <span class="uk-badge">{{ topic }}</span>
                        {% endfor %}
                    </div>

                    <div>
                        <a href="{{ repository.html_url }}" class="uk-button uk-button-text">
                            <span uk-icon="github"></span>
                            GitHub
                        </a>
                    </div>

                </div>
            </div>

            {% endif %}
            {% endfor %}
        </div>

    </div>

    <div class="uk-padding-large">

        <h1 class="uk-margin-left uk-margin-right">Recent Projects</h1>

        <hr />

        <div class="uk-grid-match" uk-grid>

            {% assign repositories = site.github.public_repositories | sort: 'pushed_at' | reverse %}
            {% for repository in repositories limit: 5 %}

            <div class="uk-width-expand@m">
                <div class="uk-padding-small uk-flex uk-flex-column uk-background-secondary uk-border-rounded">

                    <div class="uk-grid-small uk-flex-middle uk-text-truncate" uk-grid>
                        <div class="uk-width-expand">
                            <h3 class="uk-margin-remove-bottom"> {{ repository.name }} </h3>
                            <p class="uk-text-meta uk-margin-remove-top">
                                {{ repository.created_at | date: "%a, %b %d, %Y" }}</p>
                        </div>
                    </div>

                    <div class="uk-margin-top uk-margin-bottom uk-flex-1 uk-text-break">
                        <p>{{ repository.description }}</p>
                        {% for topic in repository.topics %}
                        <span class="uk-badge">{{ topic }}</span>
                        {% endfor %}
                    </div>

                    <div>
                        <a href="{{ repository.html_url }}" class="uk-button uk-button-text">
                            <span uk-icon="github"></span>
                            GitHub
                        </a>
                    </div>

                </div>
            </div>

            {% endfor %}
        </div>

    </div>

    <div class="uk-padding-large">

        <h1 class="uk-margin-left uk-margin-right">Recent Others</h1>

        <hr />

        <div class="uk-grid-match" uk-grid>

            {% assign others = site.categories["other"] | sort: 'date' | reverse %}
            {% for other in others limit: 5 %}

            <div class="uk-width-1-5@m">
                <div class="uk-padding-small uk-flex uk-flex-column uk-background-secondary uk-border-rounded">

                    <div class="uk-cover-container uk-height-small uk-border-rounded">
                        <img src="{{ other.asset }}" alt="" uk-cover />
                    </div>

                    <hr />

                    <div class="uk-grid-small uk-flex-middle uk-text-truncate" uk-grid>
                        <div class="uk-width-expand">
                            <h3 class="uk-margin-remove-bottom"> {{ other.title }} </h3>
                            <p class="uk-text-meta uk-margin-remove-top">{{ other.date | date: "%a, %b %d, %Y" }}</p>
                        </div>
                    </div>


                    <div class="uk-margin-top uk-margin-bottom uk-flex-1 uk-text-break">
                        {% for categories in other.categories %}
                        <span class="uk-badge">{{ categories }}</span>
                        {% endfor %}
                        {% for tag in other.tags %}
                        <span class="uk-badge">{{ tag }}</span>
                        {% endfor %}
                    </div>

                </div>
            </div>

            {% endfor %}
        </div>

    </div>
</div>
