---
layout: default
title: "Projects"
---

<div style="min-height: 100%;" class="uk-margin uk-padding uk-light">

    <div class="uk-padding-small">

        <h1 class="uk-margin-left uk-margin-right">Personal Projects</h1>

        <hr />

        <div class="uk-margin-left-small uk-grid-match" uk-grid>

            {% assign repositories = site.github.public_repositories | sort: 'pushed_at' | reverse %}
            {% for repository in repositories %}
            {% if repository.fork != true %}
            <div class="uk-width-1-2@s uk-width-1-3@m uk-width-1-4@l uk-width-1-5@xl">
                {% include preview/project.html
                    name=repository.name
                    created_at=repository.created_at
                    description=repository.description
                    tags=repository.topics
                    github=repository.html_url
                    more_page=repository.homepage
                %}
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>

    <div class="uk-padding-small">

        <h1 class="uk-margin-left uk-margin-right">Contributed Projects</h1>

        <hr />

        <div class="uk-margin-left-small uk-grid-match" uk-grid>

            {% assign repositories = site.github.public_repositories | sort: 'pushed_at' | reverse %}
            {% for repository in repositories %}
            {% if repository.fork != false %}
            <div class="uk-width-1-2@s uk-width-1-3@m uk-width-1-4@l uk-width-1-5@xl">
                {% include preview/project.html
                    name=repository.name
                    created_at=repository.created_at
                    description=repository.description
                    tags=repository.topics
                    github=repository.html_url
                    more_page=repository.homepage
                %}
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>

</div>
