<div class="uk-padding uk-light uk-background-secondary uk-child-width-expand@m" uk-grid>
    <div>
        <h3>More</h3>
        <dl class="uk-description-list">
            <dt>Source</dt>
            <dd>Github</dd>
            <dt>Secret</dt>
            <dd>What's the secret?</dd>
        </dl>
    </div>
    <div></div>
    <div>
        <h3>Contact</h3>
        <ul class="uk-iconnav">
            <li><a href="#" uk-icon="icon: github"></a></li>
            <li><a href="#" uk-icon="icon: reddit"></a></li>
            <li><a href="#" uk-icon="icon: youtube"></a></li>
            <li><a href="#" uk-icon="icon: twitter"></a></li>
            <li><a href="#" uk-icon="icon: linkedin"></a></li>
        </ul>
    </div>
</div>
