:root {
  --text-color: rgba(255, 255, 255, 1);
  --canvas-color: rgba(0, 0, 0, 1);
  --primary-background-color: rgb(30, 30, 30);
  --secondary-background-color: rgb(42, 42, 42);

  background-color: var(--primary-background-color);
}

/* DOM classes */
label {
  margin: 10px;
}

canvas {
  background-color: var(--canvas-color);
  box-shadow: 0px 0px 10px;
}

/* Custom classes */
.title_space {
  font-size: 125px;

  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;

  margin: 5px;
}

.canvas_space {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;

  margin: 5px;
}

.controls_space {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;

  margin: 5px;

  color: var(--text-color);
}
