/*

rgb(30, 30, 30) # Darkest
rgb(42, 42, 42)
rgb(54, 54, 54)
rgb(67, 67, 67)
rgb(79, 79, 79)
rgb(91, 91, 91)
rgb(103, 103, 103)
rgb(115, 115, 115) # Lightest

*/

/* Basic Set-Up */
footer {
    
    /* Basic Set-Up */
    margin: 5px;
    padding: 15px;
    
    /* Display Set-Up */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    
}

footer.right {
    
    /* Basic Set-Up */
    float: right;
    
}

footer.left {
    
    /* Basic Set-Up */
    float: left;
    
}

/* Description */
footer div.description {
    
    /* Basic Set-Up */
    padding: 15px;
    background-color: rgb(54, 54, 54);
    
    /* Scrollbar Set-Up */
    overflow-x: hidden;
    overflow-y: auto;
    
    /* Parent Display Set-Up */
    flex: 0.99;
    max-height: 350px;
    
    /* Border Set-Up */
    border-style: solid;
    border-width: 3px;
    border-color: rgb(91, 91, 91);
    box-shadow: 0px 0px 10px;
    
}

footer div.description a.title {
    
    /* Basic Set-Up */
    padding: 2px;
    font-size: 35px;
    color: white;
    text-shadow: 0px 0px 3px;
    
}

footer div.description a.text {
    
    /* Basic Set-Up */
    padding: 5px;
    color: white;
    text-shadow: 0px 0px 3px;
    
}

footer div.description div.skills {
    
    /* Basic Set-Up */
    padding: 5px;
    text-align: center;
    
    /* Display Set-Up */
    display: block;
    
}

footer div.description div.skills a {
    
    text-decoration: none;
    color: white;
    text-shadow: 0px 0px 3px;
    padding: 15px;
    
}

footer div.description div.skills a[tooltip]:hover:after {
    
    content: attr(tooltip);
    width: 120px;
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    
}

/* Contact */
footer div.contact {
    
    margin: 5px;
    padding: 15px;
    
    max-width: 350px;
    max-height: 350px;
    
    background-color: rgb(54, 54, 54);
    
    /* Border Set-Up */
    border-style: solid;
    border-width: 3px;
    border-color: rgb(91, 91, 91);
    box-shadow: 0px 0px 10px;
    
}

footer div.contact a.title {
    
    font-size: 35px;
    
    padding: 2px;
    
    color: white;
    text-shadow: 0px 0px 3px;
    
}

footer div.contact a.text {
    
    margin: 5px;
    color: white;
    text-shadow: 0px 0px 3px;
    
}

footer div.contact div.info {
    
    padding: 5px;
    
    display: block;
    
    text-align: center;
    
}

footer div.contact div.info a {
    
    margin: 5px;
    text-decoration: none;
    color: white;
    text-shadow: 0px 0px 3px;
    
}

/* Resizing Set-Up */
@media only screen and (max-width: 600px) {
    
    footer {
        
        justify-content: center;
        
    }
    
    footer div.description {
        
        flex: 1;
        flex-basis: 100%;
        
    }
    
    footer div.contact {
    
        flex: 1;
        flex-basis: 100%;
        
    }
}
