---
layout: default
---

<div class="uk-margin uk-padding uk-light">

    <div class="uk-grid-small uk-flex-middle uk-text-truncate" uk-grid>
        <div class="uk-width-expand">
            <h1 class="uk-margin-remove-bottom"> {{ page.title }} </h1>
            <p class="uk-text-meta uk-margin-remove-top">
                {{ page.date | date: "%a, %b %d, %Y" }}
            </p>
        </div>
    </div>

    <hr />

    <div class="uk-flex uk-flex-center">
        <img src="{{ page.asset }}" alt="" class="uk-border-rounded" uk-image>
    </div>

    <div class="uk-margin">
        {% if page.categories.size > 0 %}
        <h4 class="uk-margin-remove-bottom">Categories: </h4>
        <br />
        <div class="uk-flex">
            {% for category in page.categories %}
            <span class="uk-badge">{{ category }}</span>
            {% endfor %}
        </div>
        {% endif %}
        {% if page.tags.size > 0 %}
        <h4 class="uk-margin-remove-bottom">Tags: </h4>
        <br />
        <div class="uk-flex">
            {% for tag in page.tags %}
            <span class="uk-badge">{{ tag }}</span>
            {% endfor %}
        </div>
        {% endif %}
    </div>

</div>
