<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

<head>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">


  <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">
  <link rel="manifest" href="/assets/favicon/site.webmanifest">
  <link rel="mask-icon" href="/assets/favicon/safari-pinned-tab.svg" color="#5bbad5">
  <link rel="shortcut icon" href="/assets/favicon/favicon.ico">
  <meta name="msapplication-TileColor" content="#00aba9">
  <meta name="msapplication-config" content="/assets/favicon/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">


  {% if page.title %}
  <title>{{ site.title }} : {{ page.title }}</title>
  {% else %}
  <title>{{ site.title }}</title>
  {% endif%}
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">

</head>

<body class="uk-light uk-background-secondary">

  {% include header.html %}

  <div style="z-index: -1;" class="uk-cover-container uk-position-fixed" uk-height-viewport>
    <canvas id="background-canvas"></canvas>
    <img src="/assets/imgs/background.jpg" alt="" class="uk-hidden" uk-cover id="background-img">
  </div>

  <div style="padding-top: 60px;" class="uk-position-absolute uk-width-1-1 uk-height-1-1">
    {{ content }}

    {% include footer.html %}
  </div>

  <script src="{{ '/assets/js/libs/uikit.min.js' | relative_url }}"></script>
  <script src="{{ '/assets/js/libs/uikit-icons.min.js' | relative_url }}"></script>
  <script src="{{ '/assets/js/libs/perlin.js' | relative_url }}"></script>
  <script src="{{ '/assets/js/libs/three.min.js' | relative_url }}"></script>
  <script src="{{ '/assets/js/libs/WebGL.js' | relative_url }}"></script>
  <script type="module" src="{{ '/assets/js/libs/model-viewer.js' | relative_url }}"></script>
  <script nomodule src="{{ '/assets/js/libs/model-viewer-legacy.js' | relative_url }}"></script>

  <script>
    window.onload = () => {

      if (THREE.WEBGL.isWebGLAvailable()) {

        var step = 0.0;
        noise.seed(Math.random());
        var scene = new THREE.Scene();
        scene.fog = new THREE.Fog(
          new THREE.Color('black'),
          0.1,
          10
        );

        var camera = new THREE.PerspectiveCamera(
          75,
          window.innerWidth / window.innerHeight,
          0.1,
          1000
        );
        camera.position.y = -8;
        camera.position.z = 2.5;

        var renderer = new THREE.WebGLRenderer({
          antialias: true,
          canvas: document.getElementById("background-canvas")
        });
        renderer.setSize(window.innerWidth, window.innerHeight);

        var terrain = new THREE.Mesh(
          new THREE.CylinderGeometry(15, 5, 20, 32, 32),
          new THREE.MeshBasicMaterial({
            wireframe: true,
            color: new THREE.Color('white')
          })
        );
        for (var v = 0; v < terrain.geometry.vertices.length; v++)
          terrain.geometry.vertices[v]._z = terrain.geometry.vertices[v].z;
        terrain.rotation.x = 90;
        scene.add(terrain);


        window.addEventListener('resize', function () {

          camera.aspect = window.innerWidth / window.innerHeight;
          camera.updateProjectionMatrix();

          renderer.setSize(window.innerWidth, window.innerHeight);

        }, false);

        var animate = function () {
          requestAnimationFrame(animate);

          for (var v = 0; v < terrain.geometry.vertices.length; v++) {
            var increment = noise.simplex2(
              (terrain.geometry.vertices[v].x + step),
              (terrain.geometry.vertices[v].y + step)
            );
            terrain.geometry.vertices[v].z = terrain.geometry.vertices[v]._z + increment;
          }
          terrain.geometry.verticesNeedUpdate = true;
          step += 0.01;

          renderer.render(scene, camera);
        };

        animate();

      } else {

        var warning = THREE.WEBGL.getWebGLErrorMessage();
        document.getElementById("background-img").classList.remove("uk-hidden");
        window.UIkit.notification({
          status: 'danger',
          pos: 'bottom-right',
          message: "WEBGL Isn't Supported!"
        });

      }

    }

  </script>

</body>

</html>
