<div class="uk-padding-small uk-flex uk-flex-column uk-background-secondary uk-border-rounded">

    <div class="uk-grid-small uk-flex-middle uk-text-truncate" uk-grid>
        <div class="uk-width-expand">
            <h3 class="uk-margin-remove-bottom"> {{ include.name }} </h3>
            <p class="uk-text-meta uk-margin-remove-top">
                {{ include.created_at | date: "%a, %b %d, %Y" }}</p>
        </div>
    </div>

    <div class="uk-margin-top uk-margin-bottom uk-flex-1 uk-text-break uk-text-break">
        <p>{{ include.description }}</p>
        {% for tag in include.tags %}
        <span class="uk-badge">{{ tag }}</span>
        {% endfor %}
    </div>

    <div>
        {% if include.github %}
        <a href="{{ include.github }}" class="uk-button uk-button-text">
            <span uk-icon="github"></span>
            GitHub
        </a>
        {% endif %}
        {% if include.more_page != "" and include.more_page != nil %}
        <a href="{{ include.more_page }}" class="uk-margin-left uk-button uk-button-text">
            See more
            <span uk-icon="chevron-double-right"></span>
        </a>
        {% endif %}
    </div>

</div>
