:root {
  /* Prevent Text Selection */
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  /* Global CSS Variables */
  --primary: rgba(25, 25, 25, 1);
  --secondary: rgb(35, 35, 35);
  --overlay: rgb(0, 0, 0, 0.6);
  --selected: rgba(45, 45, 45, 1);
  --choosen: rgba(55, 55, 55, 1);
  --border: rgba(17, 17, 17, 0.1);
  --shadow: rgba(0, 0, 0, 1);
  --text-s: 18px;
  --text-c: rgba(255, 255, 255, 1);
  /* Actual CSS */
  background-color: var(--primary);
}

@font-face {
  font-family: "quirkus";
  src: url("fonts/quirkus.woff") format('woff');
}

.ribbon-menu .tabs-holder, .ribbon-menu .tabs-holder li {
  border: 0;
}
