:root {
  --text-color: rgba(255, 255, 255, 1);
  --above-color: rgb(54, 54, 54);
  --content-color: rgb(54, 54, 54);
  --bottom-color: rgb(54, 54, 54);
  --border-color: rgb(91, 91, 91);
  --primary-background-color: rgb(30, 30, 30);
  --secondary-background-color: rgb(42, 42, 42);

  background-color: var(--primary-background-color);
}

[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}

#object_manager {

  padding: 5px;

  background-color: var(--primary-background-color);

}

/* Item Menu setup */
ul.item-menu {
  margin: 0px;
  padding: 0px;
  overflow: auto;

  list-style-type: none;
}

ul.item-menu li.item {
  /* Makes things look pretty?
  padding-top: 2.5px;
  padding-bottom: 2.5px;
  */
  padding-left: 5px;
  min-width: 150px;

  cursor: move;

  background-color: var(--secondary-background-color);
}

ul.item-menu li.item .toggle, .remove {
  margin-left: 3px;
  margin-right: 3px;
  padding-left: 6px;
  padding-right: 6px;
  border-radius: 3px;
}

ul.item-menu li.item .toggle:hover, .remove:hover {
  background-color: var(--primary-background-color);
}

/* Item for Item Menu setup */
ul.item-menu li.item .above {
  padding-top: 6px;

  background-color: var(--above-color);
}

ul.item-menu li.item .content {
  padding-left: 2px;

  cursor: pointer;

  color: var(--text-color);
  background-color: var(--content-color);
}

ul.item-menu li.item .bottom {
  padding-bottom: 6px;

  background-color: var(--bottom-color);
}

ul.item-menu li.hover-above {
    border-width: 3px;
    border-top-style: solid;
    border-color: var(--border-color);
}

ul.item-menu li.hover-content {
    border-width: 3px;
    border-style: dashed;
    border-color: var(--border-color);
}

ul.item-menu li.hover-bottom {
  border-width: 3px;
  border-bottom-style: solid;
  border-color: var(--border-color);
}
